@font-face {
    font-family: 'Raleway' sans-serif;
    src: url('Raleway.eot') format('eot'),
         url('Raleway.woff') format('woff'),
         url('Raleway.ttf') format('truetype'),
         url('Raleway.svg') format('svg');

}


#bloc_page{
width: 1430px;
margin: auto;

}

body{
font-family:Raleway, Arial, "sans-serif", "Trebuchet MS";
color: black;

}




/* header*/

header{
display: flex;
flex-direction: row;
justify-content: space-between;
}



/* logo*/

#logo_reservia{
margin-top: 50px;
margin-bottom: 30px;
}


/* Navigation*/

#ul{
display: flex;
}

nav ul{
display: flex;   
list-style-type: none;
}


nav a{
font-size: 1.3em;
color: grey;
padding: 20px;
padding-top: 22px;
text-decoration: none;
}

nav a:hover{
color: #0065FC;
border-top: 3px solid;    
}


nav strong{
color: #0065FC;
}

h1{
font-size: 1.6em;
font-weight: bold;
}

h2{
font-size: 1.2em;
font-weight: normal;
margin-top:-10px;
margin-bottom:20px;  
}

p strong{
 font-weight: bold;   
}

/* Moteur de recherche*/

.moteur_recherche{
display: flex;
border-radius: 15px;
}


.fa-map-marker-alt{  
padding: 20px 20px 15px 20px;
font-size: 1.3em;
background: #F2F2F2;
border-radius: 10px 0 0 10px;
}

.moteur_recherche input{
height: 50px;    
border: none;
border-top: solid 1px #F2F2F2;
border-bottom: solid 1px #F2F2F2;
width: 180px;
}


.rechercher{
text-align: center;
color: white;
font-size: 1.1em;
font-weight: bold; 
border: none;
border-radius: 0px 10px 10px 0px;
background:#0065FC ;
margin-left: -5px;
}


.placeholder {
color: black;
font-weight: bold;   
}

/* Filtres*/

#bloc_filtres{
display: flex;
flex-direction: row;
margin-top: 60px;
margin-left: -20px;    
}

div h4{
font-size: 1.2em;
}


.rond{  
height: 50px;  
width: 50px;
background-color: rgba(0,101,252,0.1);
border: none;
border-radius: 50%;
position: absolute;
}


.icone_filtre{
margin-top: -4px;
margin-right: 10px;
}

.titre_filtre{
font-weight: bold;
font-style: normal;
font-size: 1.3em;
text-align: center;
bottom: 6px;
position: relative;
}


.icone_eco{
height: 50px; 
width: 220px;
border: solid 3px;
border-color: #F2F2F2;
border-radius: 50px 50px 50px 50px;
margin-left: 30px;
margin-top: -25px;
}


.titre_eco a{   
color: black;
}

.titre_eco a: hover{
color: grey;
}


.titre_eco{
font-weight: bold;
font-style: normal;
font-size: 1.3em;
text-align: center;
right: -20px;
bottom: 6px;
position: relative;
}

.fa-money-bill-wave{
position: relative;
right: -15px; 
top: 16px;
color:#0065FC
}


.icone_familial{
height: 50px; 
width: 180px;
border: solid 3px;
border-color: #F2F2F2;
border-radius: 50px 50px 50px 50px;
margin-left: 26px;
margin-top: -25px;
}

.titre_familial{
color: black;
font-weight: bold;
font-style: normal;
font-size: 1.3em;
text-align: center;
right: -20px;
bottom: 12px;
position: relative;
}

.fa-child{
position: relative;
font-size: 1.5em;
right: -15px; 
top: 12px;
color:#0065FC
}


.icone_romantique{
height: 50px; 
width: 220px;
border: solid 3px;
border-color: #F2F2F2;
border-radius: 50px 50px 50px 50px;
margin-left: 26px;
margin-top: -25px;
}

.titre_romantique{
font-weight: bold;
font-style: normal;
font-size: 1.3em;
text-align: center;
right: -20px;
bottom: 11px;
position: relative;
}

.fa-heart{
position: relative;
font-size: 1.4em;
right: -13px; 
top: 15px;
color:#0065FC
}


.icone_animaux{
height: 50px; 
width: 290px;
border: solid 3px;
border-color: #F2F2F2;
border-radius: 50px 50px 50px 50px;
margin-left: 26px;
margin-top: -25px;
}

.titre_animaux{
font-weight: bold;
font-style: normal;
font-size: 1.3em;
text-align: center;
right: -20px;
bottom: 11px;
position: relative;
}

.fa-dog{
position: relative;
font-size: 1.5em;
right: -10px; 
top: 10px;
color:#0065FC
}



/* info*/

div p{
font-weight: normal;
margin-left: 30px;
margin-top: 9px;
margin-bottom: 30px;
}

.icone_info{
position: relative;
top: 5px;
}

.circle{
position: absolute;  
height: 20px;  
width: 20px;
border: solid 0.1em;
border-color: grey;
border-radius: 50%;
border-left: 50px;
margin-top: 18px;
}

.fa-info{
position: relative;
font-size: 0.8em;
color:#0065FC;
right:-9px;
top: 20px;
}




/* bloc hébergement*/

section{
width: 99.5%;
height: 700px;
}

#blocs_marseille_populaire{
display: flex; 
flex-direction: row;
flex-wrap: nowrap;   
}

article{ 
display: flex;
flex-direction: column;
justify-content: flex-start;
height: 700px; 
width: 990px;
margin-right: 40px;
background-color: #F2F2F2;
border-radius: 20px 20px 20px 20px;
}

#blocs_hebergements{
display: flex; 
flex-wrap: wrap;
justify-content: space-around;
}


.titre_heberg{
 font-size: 1em;
 font-style: normal;
 font-weight: bold;
 padding-left: 15px;
 padding-top: 10px;
 
}

.bloc_blanc{
width: 290px;
height: 230px;
background-color: white;
border-radius: 20px 20px 20px 20px;
margin: 20px;
box-shadow: 1px 1px 14px grey;
}

.carte_hebergement img{ 
width: 280px;
height: 130px;
border: solid;
border-color: white;
border-top-width: 5px;
border-left-width:5px;
border-right-width: 5px;
border-radius: 18px 18px 0px 0px;
}


.titre{
margin-top: -20px;
padding-bottom: 25px;
}

div h4{
font-size: 0.9em;
margin-left: -12px;
}

article p{
color: black;    
font-size: 0.9em ;
font-weight: normal;
margin-top: -45px;
margin-left: 13px;
}


article strong{
font-weight: bold;
}

.etoiles{
margin-top: -20px;
margin-left: 12px;
}

.fa-star{
 color:#0065FC ;   
}

.grey{
 color:#cccccc ;   
}

div h5{   
font-size: 1em;
margin-left: 20px;
font-style: normal;
font-weight: bold;
}

div a{
color: black;
text-decoration: none;
}




/* Les plus populaires*/

aside{ 
height: 700px; 
width: 400px;
display: flex;
flex-direction:column;
background-color: #F2F2F2;
border-radius: 20px 20px 20px 20px;
}

#blocs_blanc_populaire{
display: flex;
flex-direction:column;
align-items: center;
}


.titre_populaire{
 font-size: 1em;
 font-style: normal;
 font-weight: bold;
 padding-left: 15px; 
 padding-top: 10px;
}


.bloc_blanc_populaire{
display: flex;
flex-direction: row;
margin: 20px;
width: 350px;
height:170px;
background-color: white;
border-radius: 20px 20px 20px 20px;
}

aside div h4{
margin-top: 30px;
}


.carte_photo img{
width: 160px;
height: 160px;
border: solid;
border-color: white;
border-top-width: 5px;
border-left-width:5px;
border-right-width: 5px;
border-radius: 18px 0px 0px 18px;   
}

aside p{
color: black;    
font-size: 0.7em ;
font-weight: normal;
margin-top: -14px;
margin-left: -12px;
}


.etoiles_populaires{
font-size: 0.8em ;
margin-top: 55px;
margin-left: -12px;
}


/* Activités à Marseille*/
section{
width:  1430px;
height: 700px;
margin-top: 40px;
}

.titre_activites{
 font-size: 1em;
 font-style: normal;
 font-weight: bold;
 padding-left: 0px;
 padding-top: 20px;
}

#blocs_activites{
display: flex;
flex-direction: row;
}

.fd_blanc_port{
height: 500px; 
width: 250 px;
background-color: white;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 0px 14px grey;
margin-right: 40px;
}


.photo img{
 border-radius: 20px 20px 0px 0px;   
}
    
.titre{
font-size: 1.3em;
font-style: normal;
font-weight: bold;
margin-left: 25px;  
}


#blocs_sous_activites{
display: flex;
flex-direction: column;
}

#blocs2_sous_activites{
display: flex;
flex-direction: column;
}

.fd_blanc_port{
height: 500px; 
width: 250 px;
background-color: white;
border-radius: 20px 20px 20px 20px;
box-shadow: 5px 8px 7px #F2F2F2;
margin-right: 25px;
}


.fd_blanc_pomegues: nth-child{
 align-self: flex-start;   
}

.fd_blanc_pomegues{  
height: 280px; 
width: 350 px;
background-color: white;
border-radius: 20px 20px 20px 20px;
box-shadow: 5px 8px 7px #F2F2F2;
}


.fd_blanc_frioul{
height: 180px; 
width: 250 px;
background-color: white;
border-radius: 20px 20px 20px 20px;
box-shadow: 5px 8px 7px #F2F2F2;
margin-top: 40px;
}

.frioul: nth-child{
 align-self: flex-end;   
}

.fd_blanc_calanques{
height: 500px; 
width: 250 px;
background-color: white;
border-radius: 20px 20px 20px 20px;
box-shadow: 5px 8px 7px #F2F2F2;
margin-right: 25px;
margin-left: 25px;
}


.fd_blanc_notre_dame{
height: 210px; 
width: 250 px;
background-color: white;
border-radius: 20px 20px 20px 20px;
box-shadow: 5px 8px 7px #F2F2F2;
}


.fd_blanc_notre_dame: nth-child{
 align-self: flex-start;   
}


.fd_blanc_longchamps{
height: 250px; 
width: 250 px;
background-color: white;
border-radius: 20px 20px 20px 20px;
box-shadow: 5px 8px 7px #F2F2F2;
margin-top: 40px;
}

.fd_blanc_longchamps: nth-child{
 align-self: flex-end;
}


/* footer*/


footer{
display: flex;
justify-content: flex-start;
height: 150px; 
width: 1550px;
padding: 50px;
background-color: #F2F2F2;
border-radius: 5px 0px 0px 5px;

}

.titre_footer{
font-size: 1.1em;
font-weight: bold ;   
}

footer ul{
list-style-type: none;
margin-right: 200px;
}

li{
margin: 10px;
}