@font-face {
    font-family: 'Raleway';
    src: url('Raleway.eot') format('eot'),
         url('Raleway.woff') format('woff'),
         url('Raleway.ttf') format('truetype'),
         url('Raleway.svg') format('svg');
}


#bloc-page{
margin: 50px;
}


/* header*/

header{
display: flex;
justify-content: space-between;
}



/* logo*/

#logo_reservia{
margin-left: px;
}


/* Navigation*/

#ul{
display: flex;
}

nav ul{
display: flex;    
list-style-type: none;
}

nav li{
font-family:Raleway, Arial, "sans-serif", "Trebuchet MS";    
}

nav a{
font-size: 1.3em;
color: #0065FC;
padding: 20px;
padding-top: 22px;
text-decoration: none;
}

a:hover{
color: #0065FC;
border-top: 2px solid;    
}


h1{
font-family:Raleway, Arial, "sans-serif", "Trebuchet MS";
font-size: 1.2em;
}

p{
font-family:Raleway, Arial, "sans-serif", "Trebuchet MS";
margin-top:-10px;
color: grey;  
}


/* Moteur de recherche*/

#moteur-recherche{    
display: flex;
flex-direction: row;
}

.carre-gris{  
width: 55px;
height: 55px;
background: #F2F2F2;
border-radius: 10px 0px 0px 10px;
position: absolute;
}

.fa-map-marker-alt{    
font-size: 1.3em;
position: relative;
right: -20px;
top: 15px;
}


.moteur{    
font-family:Raleway, Arial, "sans-serif", "Trebuchet MS";
font-weight: bold;
padding-left: 70px;
border-top-width: 1px;
border-bottom-width: 1px;
border-top-color: #F2F2F2;
border-bottom-color: #F2F2F2;
border-left: none;
border-right: none;
width: 200px;
height: 51px; 
}


.rechercher{
font-family:Raleway, Arial, "sans-serif", "Trebuchet MS";
color: white;
font-size: 1em;
font-weight: bold; 
width: 150px;
height: 55px;
border: none;
border-radius: 0px 10px 10px 0px;
background:#0065FC ;
}


/* Filtres*/

#filtres{
display: flex;
}

section h4{
font-size: 1em;
font-family:Raleway, Arial, "sans-serif", "Trebuchet MS"; 

}



.icones{
height: 50px; 
width: 200px;
border: solid 2px;
border-color: #F2F2F2;
border-radius: 50px 50px 50px 50px;
position: relative;
}


.titre{
font-family:Raleway, Arial, "sans-serif", "Trebuchet MS";
font-weight: bold;
font-style: normal;
font-size: 1.3em;
text-align: center;
position: relative;
}



.rond{
height: 50px; 
width: 50px; 
background-color: rgba(0,101,252,0.3);
border: none;
border-radius: 50%;
border: solid 2px;
border-color: #F2F2F2;
}



.fa-money-bill-wave{
position: absolute;

}
 
}

/* bloc hébergement*/



section{ 
display: flex;
justify-content: flex-start;
}

#blocs-hebergements{
display: flex; 
flex-wrap: wrap ;
justify-content: center; 
}

article{
height: 600px; 
width: 1000px;
background-color: #F2F2F2;
border-radius: 20px 20px 20px 20px;
}

h3{
 font-family: Raleway, Arial, "sans-serif", "Trebuchet MS";
 font-style: normal;
 font-weight: bold;
 margin-left: 20px;   
}



.carte-hebergement img{ 
width: 300px;
height: 150px;
border: solid;
border-color: white;
border-top-width: 4px;
border-left: -5px;
border-radius: 18px 18px 0px 0px;
}

.titre{
margin: 10px;
margin-top: -18px;

}
section p{
margin-top: -52px;
margin-left: 11px;
}

.titre{
padding-bottom: 20px;
}

.etoiles{
margin-top: -10px;
margin-left: 10px;
color: #0065FC ; 
}

.cannebiere{
position: relative;
width: 310px;
height: 250px;
margin: 10px;
background-color: white;
border-radius: 20px 20px 20px 20px;
}

.port{
position: relative;
width: 310px;
height: 250px;
margin: 10px;
background-color: white;
border-radius: 20px 20px 20px 20px;
}

.mouettes{
position: relative;
width: 310px;
height: 250px;
margin: 10px;
background-color: white;
border-radius: 20px 20px 20px 20px;
}

.mer{
position: relative;
width: 310px;
height: 250px;
margin: 10px;
background-color: white;
border-radius: 20px 20px 20px 20px;
}

.panier{
position: relative;
width: 310px;
height: 250px;
margin: 10px;
background-color: white;
border-radius: 20px 20px 20px 20px;
}

.amina{
position: relative;
width: 310px;
height: 250px;
margin: 10px;
background-color: white;
border-radius: 20px 20px 20px 20px;
}


aside{
height: 600px; 
width: 400px;
margin right: 20px;
background-color: #F2F2F2;
border-radius: 20px 20px 20px 20px;
}


footer{
display: flex;
justify-content: flex-start;
height: 600px; 
width: 1500px;
background-color: #F2F2F2;
border-radius: 20px 20px 20px 20px;
}
}







